/*.container {
    border: 2px red solid;

}*/

.about.container {
    width: 1440px;
    margin: 50px auto 50px;
}

.about.dp-container {
    width: calc(100% - 400px);
    margin: 20px 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color:#FF6060;
}

.dp-container{
    font-size: 20px;
}

@media screen and (max-width: 767px) {
    .about.container {
        margin: 10px auto;
        width: 95%;
    }
    .about.dp-container {
        width: 100%;
        margin: 141px 0;
    }
    .about-image {
        height: 223px !important;
        object-position: right;
    }
}
@media screen and (min-width:768px) and (max-width:991px){
    .about.container {
        margin: 10px auto;
        width: 95%;
    }
    .about.dp-container {
        width: 100%;
        margin: 141px 0;
    }
    .about-image {
        height: 223px !important;
        object-position: right;
    }
    
}
@media screen and (min-width:992px) and (max-width:1439px){
    .about.container {
        margin:10px
         auto;
        width: 95%;
    }
    .about.dp-container {
        width: 100%;
        margin: 92px 0;
    }
    .about-image {
        height: 223px !important;
        object-position: right;
    }

}