.not-found {
    width: 100%;
    text-align: center;
    color:#FF6060;
}

.not-found.container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 24px 0;
}

.not-found.code {
    text-align: center;
    font-size: 288px;
    font-weight: 700;
    line-height: 142.6%;
    margin: 0 auto 0;
}

.not-found.message {
    font-size: 36px;
    position: absolute;
    top: 50%;
}

.not-found.link {
    font-size: 0.98rem;
    margin-bottom: 5%;
}
@media screen and (max-width:767px) {
    .not-found.message {
        font-size: 23px;
        top: 44%;
    }
    .not-found.code {
        font-size: 199px;
      
    }
    .not-found.link {
        font-size: 0.98rem;
        margin: 60px auto 60px;
    }
  
}
@media screen and (min-width:768px) and (max-width:991px){
    .not-found.message {
        font-size: 23px;
        top: 44%;
    }
    .not-found.code {
        font-size: 199px;
      
    }
    .not-found.link {
        font-size: 0.98rem;
        margin: 60px auto 60px;
    }

    
}
@media screen and (min-width:992px) and (max-width:1440px){
    .not-found.message {
        font-size: 23px;
        top: 44%;
    }
    .not-found.code {
        font-size: 199px;
      
    }
    .not-found.link {
        font-size: 0.98rem;
        margin: 60px auto 60px;
    }
  

}