.nav_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:88%;
    margin:30px auto 0;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    list-style: none;   
}
ul li{
    font-size: 22px;
    color: #FF6060;
    text-decoration:none ;
}
.nav-active{  
    border-bottom: 2px solid #FF6060;;
    text-decoration: none;
}
.nav-noActive{
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    .nav_container {
        width: 100%;
        margin-right: 25px;
    }
    ul{
       margin-right: 22px;
    }
    ul li {
        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;
    }
    .logo{
        width: 30%;
        padding-left: 24px;
    }
    img{
        width: 100%;
    }
}
@media screen and (min-width:768px) and (max-width:991px){
    .nav_container {
        width: 90%;
    }  
}
@media screen and (min-width:992px) and (max-width:1439px){
    .nav_container {
        width: 90%;
    }
}
@media screen and (min-width:992px) and (max-width:1439px){
    .nav_container {
        width: 90%;
    }

}


    






