.head-image.container {
    position: relative;
    width:100%;
    margin: auto ;
    height:223px;
}

.head-image.image {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1rem;  
}

.head-image.title {
    display: flex;
    align-items: flex-end;
    position: absolute;
    left: 30.9%;
    right: 25.14%;
    top: 24.32%;
    bottom: 9.84%;
    transform: translateY(-50%);
    margin: auto;
    font-size: 48px;
    color: white; 
}

@media screen and (max-width:767px) {
    .head-image.container {
        width:100%;
        height:111px;
    }
    .head-image.title {
        font-size: 24px;
        font-weight: 500;
        left: 3.9%;
    }
}
@media screen and (min-width:768px) and (max-width:991px){
    .head-image.container {
        width:95%;
        height: 137px;
        /*height:111px;*/
    }
    .head-image.title {
        font-size: 30px;
        font-weight: 500;
        left: 3.9%;
    }

}
@media screen and (min-width:992px) and (max-width:1439px){
    .head-image.container {
        width:95%;
        height: 183px;
    }
    .head-image.title {
        font-size: 30px;
        font-weight: 500;
    }

}