
.home.container {
    width:1440px;
    margin:50px auto 0; 
}
.home-head-image {
    filter: brightness(50%);
}
.home.list {
    background-color: #f7f7f7;
    padding: 50px;
    margin: 40px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    width: calc(100% - 100px);
    column-gap: 60px;
    row-gap: 50px;
    border-radius: 25px;
}

@media screen and (max-width:767px) {
    .home.container {
        width: 95%;
    }
    .home.list {
        background-color: white;
        padding: 0;
        grid-template-columns: 1fr;
        width: 100%;
        row-gap: 20px;
        margin: 20px 0;
    }
}
@media screen and (min-width:768px) and (max-width:991px){
    .home.container {
        width:95%;
    }
}
@media screen and (min-width:992px) and (max-width:1439px){
    .home.container {
        width:95%;
    }
}

